In [1]:
# Import the required Libraries
import numpy as np
import pandas as pd

In [2]:
df=pd.read_csv('50_Startups.csv')

In [3]:
df

     R&D Spend  Administration  Marketing Spend       State     Profit
0    165349.20       136897.80        471784.10    New York  192261.83
1    162597.70       151377.59        443898.53  California  191792.06
2    153441.51       101145.55        407934.54     Florida  191050.39
3    144372.41       118671.85        383199.62    New York  182901.99
4    142107.34        91391.77        366168.42     Florida  166187.94
..         ...             ...              ...         ...        ...
103  119943.24       156547.42        256512.92     Florida  132602.65
104  114523.61       122616.84        261776.23    New York  129917.04
105   78013.11       121597.55        264346.06  California  126992.93
106   94657.16       145077.58        282574.31    New York  125370.37
107   91749.16       114175.79        294919.57     Florida  124266.90

[108 rows x 5 columns]

In [4]:
df.head()

   R&D Spend  Administration  Marketing Spend       State     Profit
0  165349.20       136897.80        471784.10    New York  192261.83
1  162597.70       151377.59        443898.53  California  191792.06
2  153441.51       101145.55        407934.54     Florida  191050.39
3  144372.41       118671.85        383199.62    New York  182901.99
4  142107.34        91391.77        366168.42     Florida  166187.94

In [5]:
df.shape

(108, 5)

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 108 entries, 0 to 107
Data columns (total 5 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   R&D Spend        108 non-null    float64
 1   Administration   108 non-null    float64
 2   Marketing Spend  108 non-null    float64
 3   State            108 non-null    object
 4   Profit           108 non-null    float64
dtypes: float64(4), object(1)
memory usage: 4.3+ KB

In [7]:
#Label Encoding
from sklearn.preprocessing import LabelEncoder

In [8]:
le=LabelEncoder()

In [9]:
df['State']=le.fit_transform(df['State'])

In [10]:
df.head()

   R&D Spend  Administration  Marketing Spend  State     Profit
0  165349.20       136897.80        471784.10      2  192261.83
1  162597.70       151377.59        443898.53      0  191792.06
2  153441.51       101145.55        407934.54      1  191050.39
3  144372.41       118671.85        383199.62      2  182901.99
4  142107.34        91391.77        366168.42      1  166187.94

In [11]:
x=df.drop(columns=['Profit'])

In [12]:
x.head()

   R&D Spend  Administration  Marketing Spend  State
0  165349.20       136897.80        471784.10      2
1  162597.70       151377.59        443898.53      0
2  153441.51       101145.55        407934.54      1
3  144372.41       118671.85        383199.62      2
4  142107.34        91391.77        366168.42      1

In [13]:
y=df.Profit

In [14]:
y.head()

0    192261.83
1    191792.06
2    191050.39
3    182901.99
4    166187.94
Name: Profit, dtype: float64

In [16]:
#Normalisation Technique to scale down the values
from sklearn.preprocessing import MinMaxScaler

In [17]:
scale=MinMaxScaler()

In [19]:
scaled_x=pd.DataFrame(scale.fit_transform(x))

In [20]:
scaled_x

            0         1         2    3
0    1.000000  0.651744  1.000000  1.0
1    0.983359  0.761972  0.940893  0.0
2    0.927985  0.379579  0.864664  0.5
3    0.873136  0.512998  0.812235  1.0
4    0.859438  0.305328  0.776136  0.5
..        ...       ...       ...  ...
103  0.725394  0.801327  0.543708  0.5
104  0.692617  0.543030  0.554864  1.0
105  0.471808  0.535270  0.560312  0.0
106  0.572468  0.714013  0.598948  1.0
107  0.554881  0.478772  0.625116  0.5

[108 rows x 4 columns]

In [21]:
#Train and Test Split
from sklearn.model_selection import train_test_split

In [22]:
x_train,x_test,y_train,y_test=train_test_split(scaled_x,y,test_size=0.2,random_state=0)

In [23]:
x_train.shape

(86, 4)

In [24]:
x_test.shape

(22, 4)

In [26]:
#importingh Ridge and Lasso
from sklearn.linear_model import Ridge
from sklearn.linear_model import Lasso

In [27]:
r=Ridge()
l=Lasso()

In [28]:
r.fit(x_train,y_train)

Ridge()

In [29]:
l.fit(x_train,y_train)

Lasso()

In [30]:
pred1=r.predict(x_test)
pred2=l.predict(x_test)

In [31]:
pred1

array([ 54556.32416702, 130017.92166782,  84687.15947095, 173295.2223158 ,
       108917.94957822, 128735.89224253, 128736.35934265, 155951.19177423,
       117814.48562718,  52712.59507338, 102790.3781561 , 119096.2726001 ,
        54556.32416702, 124206.72612243,  88379.01243395, 126261.35613731,
       126261.35613731,  98802.1865801 ,  74278.88209886, 141546.67661999,
       145564.21281487, 150251.73759042])

In [32]:
pred2

array([ 48384.86814735, 134845.52354938,  76486.64641608, 181551.13594979,
       112961.07382208, 134236.64101991, 129218.98004997, 160017.16104325,
       116754.23112994,  46273.04713164, 102272.49339834, 115567.13437352,
        48384.86814735, 119116.48630482,  88593.22703248, 127104.80005829,
       127104.80005829,  90948.41312188,  58678.78647171, 146299.80323437,
       149413.8490298 , 152502.10158276])

In [34]:
from sklearn import metrics

In [35]:
#MSE (Mean Square Error)
print(metrics.mean_squared_error(y_test,pred1))
print(metrics.mean_squared_error(y_test,pred2))

117186385.76630387
96005734.13154317

In [36]:
#RMSE(Root Mean Square Error)
print(np.sqrt(metrics.mean_squared_error(y_test,pred1)))
print(np.sqrt(metrics.mean_squared_error(y_test,pred2)))

10825.266082933198
9798.25158543825

In [37]:
# R Squared
print(metrics.r2_score(y_test,pred1))
print(metrics.r2_score(y_test,pred2))

0.9095565216441845
0.9259035724996549

In [ ]:
# As r2 Score is higher for lasso regression we will use Lasso Regression ML Model for Deployment.